:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

header{
    background-color: var(--header);
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 1.5rem;
    color: var(--primary-yellow);
}

main{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    gap: 30px;
}

main h3{
    font-size: 2.5rem;
}

.score-board{
    display: flex;
    gap: 30px;
}

.player, .computer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

#score-player, #score-computer{
    font-size: 5rem;
    color: var(--primary-yellow);
}

.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.btn-container button{
    padding: 10px 25px;
    background-color: var(--secondary-dark);
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

button:hover, #resetBtn:hover{
    background-color: var(--secondary-dark-hover);
}

.gameover{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.gameover-content{
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 2rem 3rem;
    background-color: var(--primary-dark);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0,2), 0 7px 20px 0 rgba(0, 0, 0, 0,17);
    animation-name: modal;
    animation-duration: 1s;
}

.text{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.end-score{
    font-size: 2rem;
}

#resetBtn{
    margin-top: 1.2rem;
    text-align: center;
    border: none;
    background-color: var(--secondary-dark);
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
}
