:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

header{
    background-color: var(--header);
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 1.5rem;
    color: var(--primary-yellow);
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    gap: 30px;
}

main h3{
    font-size: 2.5rem;
}

.score-board{
    display: flex;
    gap: 30px;
}

.player, .computer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

#score-player, #score-computer{
    font-size: 5rem;
    color: var(--primary-yellow);
}

.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-container button{
    padding: 10px 25px;
    background-color: var(--secondary-dark);
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}